<div scroll-spy>
<header class="header">
	<div class="center">
		<a href="/#/" class="logo" title="Jonathan Cooper Home"><img src="img/jonathan_cooper_logo.png" alt="Jonathan Cooper Logo"></a>
		<nav class="header__nav">
			<ul>
				<li><a href="/" class="arrow-back arrow-back-fx">Back</a></li>
			</ul>
		</nav>
	</div>
</header>

<section class="cutty-intro">
	<div class="center">
	    <h1 class="cutty-intro__title">Cutty Sark</h1>
	    <h2 class="cutty-intro__subtitle">US Website</h2>
	    <a href="http://us.cutty-sark.com" title="Visit Site" class="intro-btn" target="_blank">Visit Site</a>
	    <a href="" title="See More" class="intro-btn" scroll-to="start">See More</a>
		<img src="img/screen_cutty-sark.png" class="cutty-main-img">
	</div>
</section>

<section class="wrapper" id="start">
	<div class="center-sm">
		<h2>About Cutty Sark</h2>
	    <p>Cutty Sark is an international whisky brand founded in 1923. My responsibility was to improve their presence by executing the front-end development for their US website.</p>
	</div>
</section>

<section class="cutty-full">
	<div class="center">
		<img src="img/page_cutty-sark_the-whisky.png">
	</div>
</section>

<section class="wrapper">
	<div class="center-sm">
		<h2>Mobile Views</h2>
	    <p>It was important to the client that the site be accessible on a variety of devices. To accommodate, we used CakePHP to deliver a unique experience, based on the user agent.</p>
	</div>
</section>

<section class="cutty-mobile">
	<div class="center">
		<div class="phone-wrap">
			<img src="img/iPhone_cutty-sark_home.png">
		</div>
		<div class="phone-wrap">
			<img src="img/iPhone_cutty-sark_whisky.png">
		</div>
		<div class="phone-wrap">
			<img src="img/iPhone_cutty-sark_gallery.png">
		</div>
	</div>
</section>

<section class="wrapper">
	<div class="center-sm">
		<h2>Behind the Curtain</h2>
	    <p>My specific contributions to the project were to consult with designers on the adaptive views and to code the entirety of the front-end and much of the back-end.</p>
	</div>
</section>

<section class="tech bg-ylw">
	<div class="center">
		<div class="tech-img">
			<img src="img/dev_cutty-sark.png">
		</div>
		<div class="tech-copy">
			<h3>Technology Used</h3>
			<p>HTML5</p>
			<p>CSS/CSS3</p>
			<p>JavaScript/jQuery</p>
			<p>CakePHP</p>
			<p>GIT</p>
		</div>
	</div>
</section>
</div>