<div scroll-spy>
<header class="header">
	<div class="center">
		<a href="/#/" class="logo" title="Jonathan Cooper Home"><img src="img/jonathan_cooper_logo.png" alt="Jonathan Cooper Logo"></a>
		<nav class="header__nav">
			<ul>
				<li><a href="/" class="arrow-back arrow-back-fx">Back</a></li>
			</ul>
		</nav>
	</div>
</header>

<section class="liveb-intro">
	<div class="center">
	    <h1 class="liveb-intro__title">live Bait</h1>
	    <h2 class="liveb-intro__subtitle">Website</h2>
	    <a href="http://livebaitnyc.com" title="Visit Site" class="intro-btn" target="_blank">Visit Site</a>
	    <a href="" title="See More" class="intro-btn" scroll-to="start">See More</a>
		<img src="img/screen-livebait.png" class="liveb-main-img">
	</div>
</section>

<section class="wrapper" id="start">
	<div class="center-sm">
		<h2>About Live Bait</h2>
	    <p>Live Bait NYC is a bar and restaurant located in Washington Square Park. The client's goal was to create a fully responive site that showcased their unique branding.</p>
	</div>
</section>

<section class="liveb-full">
	<div class="center">
		<img src="img/page_livebait.png">
	</div>
</section>

<section class="wrapper">
	<div class="center-sm">
		<h2>Mobile Views</h2>
	    <p>Our goal was to work with our difficult design provisions, and return a strong resposive structure that maintained the customer's goals while promotiong accessibility.</p>
	</div>
</section>

<section class="liveb-mobile">
	<div class="center">
		<div class="phone-wrap">
			<img src="img/iPhone_livebait_home.png">
		</div>
		<div class="phone-wrap">
			<img src="img/iPhone_livebait_menu.png">
		</div>
		<div class="phone-wrap">
			<img src="img/iPhone_livebait_gallery.png">
		</div>
	</div>
</section>

<section class="wrapper">
	<div class="center-sm">
		<h2>Behind the Curtain</h2>
	    <p>My responsibility was to handle the front-end development of the site, and translate static desktop layouts into a fully responsive site.</p>
	</div>
</section>

<section class="tech bg-red">
	<div class="center">
		<div class="tech-img">
			<img src="img/tech_livebait.png">
		</div>
		<div class="tech-copy">
			<h3>Technology Used</h3>
			<p>HTML5</p>
			<p>CSS/CSS3</p>
			<p>JavaScript/jQuery</p>
			<p>CakePHP</p>
			<p>GIT</p>
		</div>
	</div>
</section>
</div>