<div scroll-spy>

<header class="header">
  <div class="center">
    <a href="/" class="logo" title="Jonathan Cooper Home"><img src="img/jonathan_cooper_logo.png" alt="Jonathan Cooper Logo"></a>
    <nav class="header__nav">
      <ul>
        <li><a href="" spy="featured" scroll-to="featured">Featured</a></li>
        <li><a href="" spy="work" scroll-to="work">More Work</a></li>
        <li><a href="" spy="brands" scroll-to="brands">Brands</a></li>
        <li><a href="" spy="me" scroll-to="me">About Me</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="home-intro">
	<div class="center">
	    <h1 class="home-intro__title">Jonathan Cooper</h1>
	    <h2 class="home-intro__subtitle">Front-end Developer &amp; Designer</h2>
	</div>
</section>

<section class="wrapper" id="featured">
	<div class="center-sm">
		<h2>Featured Projects</h2>
	    <p>Thanks for taking the time to view my online protfolio. The following is a collection of featured, recent projects in which I played the lead role as front-end developer.</p>
	</div>
</section>

<section class="wrapper gray-bg">
	<div class="center">
		<figure class="work">
			<a href="/#/bravely-default" title="View Project" class="work__featured arrow arrow-fx-cntr">
				<img src="img/featured_bravely-default.jpg" alt="Bravely Default">
				<figcaption>
					<h3>Bravely Default</h3>
					<span>View Project</span>
				</figcaption>
			</a>
		</figure>
		<figure class="work">
			<a href="/#/cutty-sark" title="View Project" class="work__featured arrow arrow-fx-cntr">
				<img src="img/featured_cutty-sark.jpg" alt="Cutty Sark">
				<figcaption>
					<h3>Cutty Sark</h3>
					<span>View Project</span>
				</figcaption>
			</a>
		</figure>
		<figure class="work">
			<a href="/#/mario-party" title="View Project" class="work__featured arrow arrow-fx-cntr">
				<img src="img/featured_mario.png" alt="Mario Party">
				<figcaption>
					<h3>Mario Party</h3>
					<span>View Project</span>
				</figcaption>
			</a>
		</figure>
	</div>
</section>

<section class="wrapper" id="work">
	<div class="center-sm">
		<h2>Additional Expertise</h2>
	    <p>Though my primary skill set consists of CSS, HTML, and JavaScript, I also have experience in wireframing, design, SEO, Drupal, and Wordpress development.</p>
	</div>
</section>

<section class="wrapper--grid gray-bg s1">
	<div class="center">
		<figure class="work">
			<a href="http://tfc.com" title="View Project" target="_blank" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_tfc.png" alt="TF Cornerstone">
				<figcaption>
					<h3>TF Cornerstone</h3>
					<span>View Site</span>
				</figcaption>
			</a>
		</figure>
		<figure class="work">
			<a href="http://b-analytics.net" title="View Project" target="_blank" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_b-analytics.jpg" alt="B Analytics">
				<figcaption>
					<h3>B Analytics</h3>
					<span>View Site</span>
				</figcaption>
			</a>
		</figure>
		<figure class="work">
			<a href="http://thecoffeeshopnyc.com" title="View Project" target="_blank" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_the-coffee-shop.jpg" alt="The Coffee Shop NYC">
				<figcaption>
					<h3>The Coffee Shop NYC</h3>
					<span>View Site</span>
				</figcaption>
			</a>
		</figure>
		<figure class="work">
			<a href="http://bimpactassessment.net/" title="View Project" target="_blank" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_bimpact.png" alt="B Impact Assessment">
				<figcaption>
					<h3>B Impact Assessment</h3>
					<span>View Site</span>
				</figcaption>
			</a>
		</figure>
		<figure class="work">
			<a href="http://nicencleanwipes.com/" title="View Project" target="_blank" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_nicenclean.jpg" alt="Nice'N Clean">
				<figcaption>
					<h3>Nice'N Clean</h3>
					<span>View Site</span>
				</figcaption>
			</a>
		</figure>
		<!-- <figure class="work">
			<a href="http://180watch.com" title="View Project" target="_blank" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_180-watch.jpg" alt="180 Watch">
				<figcaption>
					<h3>180 Watch</h3>
					<span>View Site</span>
				</figcaption>
			</a>
		</figure> -->
		<figure class="work">
			<a href="http://bcorporation.net" title="View Project" target="_blank" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_b-corp.jpg" alt="B Corporation">
				<figcaption>
					<h3>B Corporation</h3>
					<span>View Site</span>
				</figcaption>
			</a>
		</figure>
		<figure class="work">
			<a href="/#/nintendo" title="View Project" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_mario.png" alt="Club Nintendo Promo">
				<figcaption>
					<h3>Nintendo 3DS Promo</h3>
					<span>View Demo</span>
				</figcaption>
			</a>
		</figure>
		<figure class="work">
			<a href="http://livebaitnyc.com/" title="View Project" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_live-bait.jpg" alt="Live Bait">
				<figcaption>
					<h3>Live Bait</h3>
					<span>View Demo</span>
				</figcaption>
			</a>
		</figure>
		<!-- <figure class="work">
			<a href="http://blog.fxdd.com" title="View Project" target="_blank" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_fxddnow.jpg" alt="FXDD Blog">
				<figcaption>
					<h3>FXDD Blog</h3>
					<span>View Site</span>
				</figcaption>
			</a>
		</figure> -->
		<figure class="work">
			<a href="http://intheraw.com" title="View Project" target="_blank" class="work__wrap arrow arrow-fx-cntr">
				<img src="img/work_sugarintheraw.jpg" alt="In The Raw">
				<figcaption>
					<h3>In The Raw</h3>
					<span>View Site</span>
				</figcaption>
			</a>
		</figure>
	</div>
</section>

<section class="wrapper" id="brands">
	<div class="center-sm">
		<h2>Brand Experience</h2>
	    <p>During my career, I have had the pleasure of working with the following brands. If you would like to know more about my contribution to each, please let me know.</p>
	</div>
</section>

<section class="wrapper--grid gray-bg">
	<div class="center">
		<div class="brand">
			<img src="img/logo-att.png" alt="AT&amp;T Logo">
		</div>
		<div class="brand">
			<img src="img/logo-b-analytics.png" alt="B Analytics Logo">
		</div>
		<div class="brand">
			<img src="img/logo-chase.png" alt="Chase Logo">
		</div>
		<div class="brand">
			<img src="img/logo-cutty-sark.png" alt="Cutty Sark Logo">
		</div>
		<div class="brand">
			<img src="img/logo-intheraw.png" alt="In The Raw Logo">
		</div>
		<div class="brand">
			<img src="img/logo-nintendo.png" alt="Nintendo">
		</div>
		<div class="brand">
			<img src="img/logo-snl.png" alt="Sweet N Log Logo">
		</div>
		<div class="brand">
			<img src="img/logo-t-mobile.png" alt="T Mobile Logo">
		</div>
		<div class="brand">
			<img src="img/logo-verizon.png" alt="Verizon Logo">
		</div>
		<div class="brand">
			<img src="img/logo-visa.png" alt="Visa Logo">
		</div>
	</div>
</section>

<section class="wrapper" id="me">
	<div class="center-sm">
		<h2>About Me</h2>
	    <p>I am a 27 year old front-end developer working in NY, NY. If you would like to find out more about me, feel free to visit any of the following social networks or send me an email.</p>
		<a href="mailto:jon.cooper.d@gmail.com" title="Send Me an Email" class="btn blue mail arrow-fx">Email Me</a>
		<a href="http://www.pinterest.com/jonathandcooper/boards/" class="social" target="_blank"><img src="img/icon_pinterest.png" alt="Pinterest"></a>
		<a href="https://www.facebook.com/jonathan.cooper.9887117" class="social" target="_blank"><img src="img/icon_facebook.png" alt="Facebook"></a>
		<a href="http://twitter.com/JonathanCooperD" class="social" target="_blank"><img src="img/icon_twitter2.png" alt="Twitter"></a>
		<a href="http://www.linkedin.com/pub/jonathan-cooper/60/374/638" class="social" target="_blank"><img src="img/icon_linkedin.png" alt="Linkedin"></a>
	</div>
</section>
</div>