<div scroll-spy>
<header class="header">
	<div class="center">
		<a href="/#/" class="logo" title="Jonathan Cooper Home"><img src="img/jonathan_cooper_logo.png" alt="Jonathan Cooper Logo"></a>
		<nav class="header__nav">
			<ul>
				<li><a href="/" class="arrow-back arrow-back-fx">Back</a></li>
			</ul>
		</nav>
	</div>
</header>

<section class="nin-intro">
	<div class="center">
	    <h1 class="nin-intro__title">Nintendo</h1>
	    <h2 class="nin-intro__subtitle">3DS Promo</h2>
	    <a href="/3ds-demo.html" title="Visit Site" class="intro-btn" target="_blank">Demo Site</a>
	    <a href="" title="See More" class="intro-btn" scroll-to="start">See More</a>
		<img src="img/screen-nintendo.png" class="nin-main-img">
	</div>
</section>

<section class="wrapper" id="start">
	<div class="center-sm">
		<h2>About The Promotion</h2>
	    <p>The Nintendo 3DS XL promotion was a landing page, hosted on the Nintendo Site that could be taken advantage of by Club Nintendo members.</p>
	</div>
</section>

<section class="nin-full">
	<div class="center">
		<img src="img/page_nintendo.png">
	</div>
</section>

<section class="wrapper">
	<div class="center-sm">
		<h2>Behind the Curtain</h2>
	    <p>My responsibility was to complete all of the front-end developement for the landing page, and to work with Nintendo to hand off the code for integration on their site.</p>
	</div>
</section>

<section class="tech bg-blu">
	<div class="center">
		<div class="tech-img">
			<img src="img/tech_nintendo.png">
		</div>
		<div class="tech-copy">
			<h3>Technology</h3>
			<p>CSS/CSS3</p>
			<p>HTML5</p>
			<p>jQuery</p>
			<h3>Frameworks/Libraries</h3>
			<p>HTML5 Boilerplate</p>
		</div>
	</div>
</section>
</div>