/* ========================================================================
    Containers
   ======================================================================== */

.wrapper{
    padding: 100px 40px;
    width: 100%;
    @include box-sizing(border-box);
}

.wrapper--grid{
    padding: 80px 40px;
    width: 100%;
    @include box-sizing(border-box);
}

.center{
    margin: auto;
    max-width: 960px;
    position: relative;
    @include clearfix;
}

.center-sm{
    margin: auto;
    max-width: 600px;
    position: relative;

    p{
        font-size: 22px;
        line-height: 34px;
    }
}

.gray-bg{
    background-color: $lgray;
}

/* ---------------------------------
   Site Header
   --------------------------------- */

.header{
    @extend .wrapper;
    background: #FFF;
    height: 90px;
    overflow: hidden;
    padding: 0 20px;
    position: fixed;
    z-index: 9999;
    @include box-shadow(0 1px 1px #555);

    .center{
        max-width: 920px;
        padding: 0 20px;
    }

    ul{
        font-size: 16px;
        line-height: 86px;
        text-align: right;

        a{
            border-top: 4px solid #FFF;
            display: block;
            height: 86px;
            margin-left: 30px;
            @include transition(all, 1s);
            
            &:hover{
                color: $blue;
            }

        }

        a.current{
            border-top: 4px solid $blue;
            color: $blue;
        }
    }
}

.logo{
    float: left;
    display: block;
    margin: 16px 0 0;
    height: 58px;
    overflow: hidden;
    width: 58px;
    @include transition(transform, 0.8s);

    &:hover,
    &:focus{
        opacity: .7;
        transform: rotate(180deg);
        -o-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
    }
}

/* ---------------------------------
   Home Intro
   --------------------------------- */

.home-intro{
    @extend .wrapper;
    background: $blue;
    color: #FFF;
    height: 500px;
    padding: 0 40px;
    text-align: center;
}

.home-intro__title{
    color: $white;
    margin: 0;
    padding-top: 215px;
}

.home-intro__subtitle{
    color: $white;
    font: 24px/1.5 'OpenSanslight';
    letter-spacing: -1px;
}

/* ---------------------------------
   Work
   --------------------------------- */

.work{
    float: left;
    text-align: right;
    width: 33%;
    @include box-sizing(border-box);

    figcaption{
        padding: 30px 20px;
    }

    h3{
        font-family: 'OpenSanslight';
        letter-spacing: -1px;
        @include transition(400ms ease-out all);
    }

    img{
        @include transition(400ms ease-out all);
    }
}

.work__featured{ 
    background: $white;
    display: block;
    margin: 20px;
    @include transition(400ms ease-out all);

    &:hover{
        background: $blue;
        color: #FFF;
    }
    
    &:hover img{
        opacity: .2;
    }

    &:hover h3{
        color: #FFF;
    }
}

.work__wrap{ 
    @extend .work__featured;

    h3{
        margin-bottom: 16px;
    }
}

/* ---------------------------------
   Brands
   --------------------------------- */

.brand{
    float: left;
    padding: 20px;
    width: 20%;
    @include box-sizing(border-box);
}

.brand img{
    opacity: .5;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    @include transition(opacity 0.8s ease);
}

.brand img:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0%);
}

/* ---------------------------------
   Social
   --------------------------------- */

.social{
    display: inline-block;
    float: right;
    height: 44px;
    line-height: 44px;
    margin: 40px 0 0 5px;
    width: 44px;
} 

.social img{   
    opacity: 1;
    @include transition(opacity 0.8s ease);
}

.social img:hover{
    opacity: .7;
}

/* ---------------------------------
   Intro
   --------------------------------- */

.folio-intro{
    background: $yellow;
    height: 760px;
    padding: 0 40px;
    position: relative;
    width: 100%;
    @include box-sizing(border-box);

    .center{
        overflow: visible;
    }
}

.cutty-intro{
    @extend .folio-intro; 
    background: $yellow;
}

.liveb-intro{
    @extend .folio-intro; 
    background: $red;
}

.nin-intro{
    @extend .folio-intro; 
    background: $nin-blue;
}

.intro__title{
    color: $blk;
    margin: 0 0 0 0;
    padding-top: 280px;
}

.cutty-intro__title{ @extend .intro__title; }
.liveb-intro__title{ @extend .intro__title; }
.nin-intro__title  { @extend .intro__title; }

.intro__subtitle{
    color: $white;
}

.cutty-intro__subtitle{ @extend .intro__subtitle; }
.liveb-intro__subtitle{ @extend .intro__subtitle; }
.nin-intro__subtitle  { @extend .intro__subtitle; }

.intro-btn{
    border: 1px solid $white;
    color: $white;
    display: inline-block;
    font: 16px/46px 'NovecentowideLightBold';
    height: 46px;
    padding: 0 35px;
    text-align: center;

    &:hover{
        color: $blk;
    }
}

.cutty-main-img{
    bottom: -280px;
    position: absolute;
    right: -400px;
}

.liveb-main-img{
    bottom: -280px;
    position: absolute;
    right: -350px;
}

.nin-main-img{
    bottom: -280px;
    position: absolute;
    right: -370px;
}

/* ---------------------------------
   Cutty Full
   --------------------------------- */

.folio-full{
    background: $yellow;
    padding: 0 40px;
    width: 100%;
    @include box-sizing(border-box);

    img{
        display: block;
        margin: 40px auto;
    }
}

.cutty-full{
    @extend .folio-full;
    background: $yellow;
}

.liveb-full{
    @extend .folio-full;
    background: $red;
}

.nin-full{
    @extend .folio-full;
    background: $nin-blue;
}

/* ---------------------------------
   Cutty Mobile
   --------------------------------- */

.cutty-mobile{
    @extend .wrapper--grid;
    background: $yellow;

    img{
        display: block;
        margin: 40px auto;
    }
}

.liveb-mobile{
    @extend .wrapper--grid;
    background: $red;

    img{
        display: block;
        margin: 40px auto;
    }
}

.mario-mobile{
    @extend .wrapper--grid;
    background: $nin-blue;

    img{
        display: block;
        margin: 40px auto;
    } 
}

.phone-wrap{
    float: left;
    width: 33%;
    @include box-sizing(border-box);
}

/* ---------------------------------
   Cutty Tech
   --------------------------------- */

.tech{
    padding: 0 40px;
    width: 100%;
    @include box-sizing(border-box);

    .center{   
        margin: 0 auto -40px;
    }

    .tech-img{
        float: left;
        width: 66%;
        @include box-sizing(border-box);
    }

    .tech-copy{
        float: left;
        padding: 80px 0;
        width: 33%;
        @include box-sizing(border-box);

        h3{
            font-size: 22px;
            margin: 19px 0;
        }

        p{
            color: $white;
            font-size: 16px;
            margin: 0 0 8px;
        }
    }
}

.bg-ylw{ background: $yellow; }
.bg-red{ background: $red; }
.bg-blu{ background: $nin-blue; }

.bg-red{
    .tech-img{
        padding: 40px 40px 70px 0;
    }
}

.bg-blu{
    .tech-copy{
        padding: 80px 0 100px;
    }
}

/* ---------------------------------
   Footer
   --------------------------------- */

.footer{
    background: $lgray;
    padding: 40px;
}